#header
{
    padding: 10px;
    background-color: white;
    text-align: right;
    position: sticky;
    top: 0;
    z-index: 2;
}

.space
{
    margin-right: 20px;
}

h1 
{
    text-align: center;
    color: rgb(50, 124, 184);
}

#cardData
{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

#footer
{
    padding: 20px;
    height: 100px;
    background-color: lightblue;
    border-radius: 10px;
    margin-top: 20px;
}

#carticon
{
    padding: 2px;
    background-color: rgb(241, 242, 150);
    border-radius: 50%;
}
#shoppage
{
    display: flex;
    justify-content: space-between;
}

#shopmenu
{
    width: 20%;
    background-color: rgb(226, 240, 244);
    height: 300px;
}
#shopdata
{
    width: 80%;
}
#pro_deatil
{
    width: 70%;
    display: flex;
    justify-content:center;
    margin: auto;
  
}
#pro_img
{
    width: 30%;
}
#pro_desc
{
   padding-right: 30px;
    width: 70%
}

/* Footer */
.footer {
  background-color: #ffc107;
  color: #fff;
  text-align: center;
  padding: 20px 0;
  position: relative;
  width: 100%;
  bottom: 0;
  left: 0;
  font-family: Arial, sans-serif;
}

.footer-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer-logo img {
  width: 100px;
  margin-bottom: 20px;
}

.footer-links {
  margin-bottom: 20px;
}

.footer-links a {
  color: #fff;
  margin: 0 15px;
  text-decoration: none;
}

.footer-links a:hover {
  text-decoration: underline;
}

.footer-social {
  margin-bottom: 20px;
}

.footer-social a {
  color: #fff;
  margin: 0 10px;
  text-decoration: none;
}

.footer-social a:hover {
  text-decoration: underline;
}

.footer-copyright {
  font-size: 14px;
}
#paydesign
{
    display: flex;
    justify-content: space-between;
    width: 70%;
    margin: auto;
}